@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>Crear Pelicula</h3>

<FormularioPelicula Pelicula="Pelicula" OnValidSubmit="Crear"></FormularioPelicula>


@code {

    private Pelicula Pelicula = new Pelicula();

    void Crear() {

        Console.WriteLine(navigationManager.Uri);
        navigationManager.NavigateTo("pelicula");

    }

}
